<!-- <div id="signIn" class="modal fade" role="dialog" [hidden] ="displayType">
  <div class="modal-dialog"> -->
    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <h4>Sign In to LivestockCity</h4>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body">
        <br> -->
        <!--<form>-->
          <!-- <div class="form-group login-form login-contact-form">
            <input type="email" id="email-sign-in" placeholder="email" [(ngModel)] ="username"><br>
            <input type="password" id="pw-sign-in" placeholder="password" [(ngModel)] ="password"> -->
            <!-- Show this message if the email is valid but the password incorrect -->
            <!-- <div class="alert alert-danger" id="incorrect-pw" role="alert">
              <strong>Incorrect password</strong> Please try again.
            </div> -->
            <!-- Show this message if the email is not associated with an existing account -->
            <!-- <div class="alert alert-danger" id="invalid-email-confirmation" role="alert">
              <strong>Invalid email.</strong> This email is not associated with a LivestockCity account.
              <ul id="login-links">
                <li><a class="sign-up-link" href="#">Are you a new user? Start here.</a></li>
              </ul>
            </div>
          </div>
          <a id="sign-in-btn" data-toggle="modal" data-target="#resendConfirmation" class="btn" (click) ="SignIn()">Sign In</a>
         -->
          <!--</form>-->
        <!-- <ul id="login-links">
          <li><a class="sign-up-link" data-toggle="modal" data-target="#resetPassword">Forgot password?</a></li>
          <br>
          <li><a class="sign-up-link" href="/sign-up">Are you a new user? Start here.</a></li>
        </ul>

        <h6>Social login:</h6>
        <div id="social-login-links">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-google-plus-square"></i>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> -->
