<div id="page-content-wrapper">
  <div class="container-fluid">
    <!-- Page Content -->
    <div class="container top">
      <div class="row">
        <div class="col-md-12">
          <h1>Services Offered</h1>
          <br><br><br>
          LivestockCity is a social network and offers the typical services found on social
          netorks such as connecting with other farmers, the ability to place
          your content online for others to see (like photos), and livestock directories
          that help your farm place higher on sites like Google. <br>
          <br>
          In the near future, we will bringing on additional services, so stay tuned for updates.
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>