<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="container top">
            <div class="row">
                <div class="col-md-12">
                    <h1>Counter</h1>

                    <p>This is a simple example of an Angular component.</p>

                    <p>Current count:
                        <strong>{{ currentCount }}</strong>
                    </p>

                    <button (click)="incrementCounter()">Increment</button>

                    <div class="tab-content clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>