<div id="page-content-wrapper">
  <div class="container-fluid">
    <!-- Page Content -->
    <div class="container top">
      <div class="row">
        <div class="col-md-12">
          <h1>About Our Company</h1>
          <br><br><br>
          LivestockCity, Inc. was founded circa 2012 by Jim White and Brian Edwards, who were college friends and grew up in nearby towns
          without knowing each other then.  In 2003, they co-founded the sites LlamaSalesList and AlpacaSalesList, which set them
          on their journey towards eventually founding LivestockCity.  Today LivestockCity is made up of interns, developers, 
          and designers.  Although an early version of the website was launched in 2016, LivestockCity has created a new site
          to bring a better user experience.  In the near future, more features will be added. Thanks for stopping by.
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>