<div id="page-content-wrapper">
    <div class="container-fluid">
        <!-- Page Content -->
        <div class="container top">
            <div class="row">
                <div class="col-lg-3">
                    <div class="breadcrumb">
                        <a class="breadcrumb-item" href="#">Buy/Sell </a>
                        <a class="breadcrumb-item" href="#">Farm Stores </a>
                        <span class="breadcrumb-item active">Dairy Products </span>
                    </div>
                    <h5 class="shop-heading">Farm Stores:</h5>
                    <h1>Dairy Products</h1>
                    <div class="list-group">
                        <a *ngFor="let item of dairyProductList" href="javascript:;"
                            class="list-group-item">{{item.name}}</a>
                    </div>

                    <!--Browse by sub category-->
                    <div class="form-group">
                        <label>Narrow selection:</label><br>
                        <input type="checkbox" value="non-gmo"> Non-GMO<br>
                        <input type="checkbox" value="corn-fed"> Corn-fed<br>
                        <input type="checkbox" value="pesticide-free"> Pesticide-Free<br>
                    </div>

                    <!-- Price slider -->
                    <p>
                        <label for="amount">Price range:</label>
                        <input type="text" id="amount" readonly style="border:0; color:#f14b15; font-weight:bold;">
                    </p>

                    <div id="slider-range"></div>
                    <p>
                        <a class="filter-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                            Filter by location<i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-block no-border">
                            <div class="checkbox" *ngFor="let item of states">
                                <label>
                                    <input type="checkbox" value="">{{item.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-9">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query form-control" placeholder="Search" name="search"
                            [(ngModel)]="searchText"  />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button" (click)="getFarmStores()">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of farmStoreList">
                            <div class="panel h-100 feed-panel-box">
                                <a href="#"><img class="panel-img-top" src="{{imgUrl}}" alt=""></a>
                                <div class="panel-body">
                                    <h4 class="panel-title">
                                        <a href="#">{{item.productName}}</a>
                                    </h4>
                                    <h5>${{item.price}}</h5>
                                    <p class="panel-text">
                                        <!-- <strong>Category:</strong> {{item.productCategoryModel.CategoryName}}
                                        <br> -->
                                        <!-- <strong>Breed:</strong> {{item.breed}}
                                        <br>
                                        <strong>Gender:</strong> {{item.gender}}
                                        <br>
                                        <strong>DOB:</strong> {{item.dob | date:'MM-dd-yyyy'}}
                                        <br>
                                        <strong>Age:</strong> {{item.age}} years
                                        <br>
                                        <strong>Height:</strong> {{item.height}} -->
                                    </p>
                                    <a class="btn btn-sm btn-shop" [routerLink]="['/productDetails',item.id]">View</a>
                                </div>
                                <div class="panel-footer">
                                    <span class="seller-name">{{item.sellerName}}</span>
                                    <span class="seller-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        {{item.sellerAddress}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>