<footer class="footer py-5 bg-orange">
  <div class="container footer-container">
    <div class="row footer-row">
      <div class="col-lg-4 footer-item">
        <h6 class="fnt-16">About</h6>
        <hr class="hr"> 
        <ul class="footer-list">
          <li><a routerLink='/about'>About LivestockCity</a></li>
          <li><a routerLink='/services'>Our services</a></li>
        </ul>
      </div>   
      <div class="col-lg-4 footer-item">
        <h6 class="fnt-16">Important Stuff</h6>
        <hr class="hr"> 
        <ul class="footer-list">
          <li><a href="#">Press release</a></li>
          <li><a routerLink='/term'>Terms and conditions</a></li>
          <li><a routerLink='/privacy'>Privacy policy</a></li>
        </ul>
      </div>   
      <div class="col-lg-4 footer-item">
        <h6 class="fnt-16">Contact</h6>
        <hr class="hr"> 
        <ul class="footer-list">
          <li><a routerLink='/contact'>Send an email</a></li>
          <li class="livestockcity-address">LivestockCity</li>
          <li class="livestockcity-address">P.O. Box 56</li>
          <li class="livestockcity-address">Mount Solon, VA 22843</li>
        </ul>
      </div>   
    </div>       
    <p class="m-0 text-center text-white">Copyright &copy; LivestockCity 2019</p>
  </div>           
  <!-- /.container -->
</footer> 